<div class="row">
  <div class="col-6">
    <app-dona
      titulo="Dona 1"
      [labels]="graficaLabels"
      [data]="graficaData"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      titulo="Dona 2"
      [labels]="graficaLabels"
      [data]="graficaData"
    ></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona
      titulo="Dona 3"
      [labels]="graficaLabels"
      [data]="graficaData"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona></app-dona>
  </div>
</div>
